---
title: 宇品店
---
<div id="contents-part">
  <h2 class="headding-a">宇品店</h2>

  <div class="shop-image ujina"></div>
  
  <%= partial "partial/ujina-price" %>
  <%# <section class="shop">
    <div class="shop-image ujina"></div>
    <h3 class="headding-g">施術メニュー・料金</h3>
    <div class="head-image shinonome"></div>
    <div class="insurance">
      <h2 class="heading-h">保険診療</h2>
      <small><span>電気治療 約10分 </span><span>+ 施術 約10分 </span><span>+ 超音波 約3分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">2,500円前後</div><div class="other">2,000円前後</div><div class="other">1,500円前後</div>
        <div class="ten">2割</div><div class="other">2,000円前後</div><div class="other">1,500円前後</div><div class="other">1,200円前後</div>
        <div class="ten">1割</div><div class="other">1,500円前後</div><div class="other">1,200円前後</div><div class="other">850円前後</div>
      </div>

      <small><span>電気治療 約10分 </span><span>+施術 約10分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">1,500円前後</div><div class="other">1,000円前後</div><div class="other">500円前後</div>
        <div class="ten">2割</div><div class="other">1,000円前後</div><div class="other">700円前後</div><div class="other">350円前後</div>
        <div class="ten">1割</div><div class="other">700円前後</div><div class="other">500円前後</div><div class="other">200円前後</div>
      </div>

    </div>
    <div class="treatment-menu">
      <h2 class="heading-h">保険 + 保険外診療</h2>
      <div class="fee-area">
        <div class="half no-under"></div><div class="quarter">10分</div><div class="quarter">1,000円</div>
        <div class="half no-under">施術時間延長</div><div class="quarter">15分</div><div class="quarter">1,500円</div>
        <div class="half"></div><div class="quarter">30分</div><div class="quarter">3,000円</div>
        <div class="half no-under">ハリ</div><div class="quarter no-under">1部位</div><div class="quarter no-under">1,000円</div>
        <div class="half"><span>(電気鍼パルス </span><span>+500円)</span></div><div class="quarter"></div><div class="quarter"></div>
        <div class="half">美顔鍼(要予約)</div><div class="quarter">30分</div><div class="quarter">3,500円</div>
        <div class="half"><span>フットオイル</span><span>マッサージ</span><span>(要予約)</span></div><div class="quarter">30分</div><div class="quarter">3,500円</div>
        <div class="half">猫背矯正</div><div class="quarter">10分</div><div class="quarter">2,000円</div>
        <div class="half">骨盤矯正</div><div class="quarter">5分</div><div class="quarter">1,000円</div>
        <div class="half">ウォーターベッド</div><div class="quarter">15分</div><div class="quarter">500円</div>
        <div class="half">ダイナトロン</div><div class="quarter">3分</div><div class="quarter">500円</div>
        <div class="half"><span>傷害保険等書類</span><span>作成代</span></div><div class="quarter">1部</div><div class="quarter">5,000円</div>
      </div>

      <h3 class="heading-h">お得な回数券 (宇品店)</h3>
      <small><span>超音波・ウォーターベッド共通</span><span> (有効期限：購入日から6ヵ月)</span></small>
      <div class="fee-area">
        <div class="quarter">5回</div><div class="quarter">2,000円</div><div class="half">(1回サービス付き)</div>
        <div class="quarter">8回</div><div class="quarter">3,000円</div><div class="half">(2回サービス付き)</div>
        <div class="quarter">14回</div><div class="quarter">5,000円</div><div class="half">(3回サービス付き)</div>
      </div>

      <small>猫背矯正(ストレッチポール使用)</small>
      <div class="fee-area">
        <div class="half">5回コース</div><div class="half">8,500円</div>
        <div class="half">10回コース</div><div class="half">16,000円</div>
      </div>

      <small>EMS筋トレ</small>
      <div class="fee-area">
        <div class="quarter no-under">部分筋トレ</div><div class="half">6回コース</div><div class="quarter">6,000円</div>
        <div class="quarter"></div><div class="half">1ヵ月フリーパス</div><div class="quarter">10,000円</div>
        <div class="quarter no-under">集中筋トレ</div><div class="half">6回コース</div><div class="quarter">12,000円</div>
        <div class="quarter"></div><div class="half">1ヵ月フリーパス</div><div class="quarter">20,000円</div>
      </div>

      <small>美顔鍼・フットマッサージ共通</small>
      <div class="fee-area">
        <div class="half">6回コース</div><div class="half">18,000円</div>
        <div class="half">12回コース</div><div class="half">35,000円</div>
      </div>
    </div>

    <small>注意：回数券の再発行・払い戻しはできませんので、ご了承ください。</small>

  </section> %>

  <h2 class="headding-g">ご予約</h2>
  <section class="tel-number">

    <a href="tel:0822557119">
      <p class="title"><span>宇品店</span> へのお問い合わせ</p>
      <p class="mobile">スマホはタップでお電話 <span class="far fa-hand-point-up fa-lg" data-fa-transform="rotate-30"></span></p>
      <p class="number"><span class="fas fa-phone-square"></span> 082-255-7119</p>
      <p class="time">【受付時間】9:00〜18:30 (日祝を除く)</p>
    </a>
  </section>

  <section class="schedule-wrap">
    <h2 class="headding-g">診療時間</h2>

    <div class="schedule">
      <span class="label">宇品店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td class="red">※</td>
          </tr>
          <tr>
            <td>15:00~18:30</td><td>◯</td><td>◯</td><td>※</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
        </tbody>
      </table>
      <span>※ 水曜日の診療時間は20:30が最終受付となります。</span><br>
      <span class="red">※</span><span>日曜日・祝日の午前中は完全予約制(前日まで)</span>
    </div>
  </section>

  <section class="access">
    <div class="access-wrap">
      <h2 class="headding-g">アクセス</h2>
      <div class="container">

        <div class="map">
          <div class="describe ujina">
            〒734-0004<br>
            広島県広島市南区宇品神田1丁目8-11 ハイポート宇品 1F<br><br>
            宇品二丁目駅すぐ！駐車場3台完備
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6586.701287644185!2d132.46301!3d34.367001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7cc897440b2782f!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5a6H5ZOB5bqX!5e0!3m2!1sja!2sjp!4v1516431233552" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
