<div id="contents-part">
  <section id="treatment">
    <h2 class="headding-a">施術メニュー・料金</h2>
    <div class="">
      一休さん施術メニュー
===========宇品店 ===========
【保険適用外】
◆超音波　3分　　500円

◆施術時間延長　
10分　　1,000円
15分　　1,500円
30分　　3,000円

◆はり灸　　窓口負担分＋700円

◆テーピング　　一部位　200円

◆自由診療　ほぐし
もみほぐし30分　　3,500円
もみほぐし45分　　5,000円

◆自由診療　はり灸
鍼30分　　4,200円
鍼15分　　5,700円
美顔ばり　30分　　3,000円

◆足ツボ・フットオイルマッサージ
　30分　　3,500円

◆矯正
猫背　10分　2,000円
骨盤　 5分　 1,000円
* 肩こり・腰痛がある方や姿勢が悪いのが気になる方、運転やデスクワークで同じ姿勢を続ける時間が長い方などにおススメです。当院の猫背矯正はストレッチポールを使用して行いますので、年配の方にも安心して受けて頂けます。
* 保険診療にプラスして骨盤矯正ができます。足の長さや、足の動かしやすさ、骨盤のずれなど左右差を確認して骨盤の位置を整えます。

◆筋トレ
一部位　2パッド10分　お試し1回　600円
　　　　　　　　　　　6回コース　3,000円　1か月間フリーパスポート　6,000円
2部位　4パッド20分　お試し1回　1,200円
　　　　　　　　　　　6回コース　6,000円　1か月間フリーパスポート　　12,000円
* ベッドに横になって、寝ながら筋トレができます。EMSという、通常の運動よりも効率よく筋肉を鍛えることができる電気刺激を使い筋肉を勝手に動かします。ダイエットをしたい方、最近筋肉が落ちたと感じてる方、運動しなさいと言われているが続かない方などにおススメです。

【保険適用施術】

【重要】自賠責保険の適用に関するご注意
施術者が保険会社に提出した証明書及び費用明細（レセプト）の内容に誤りがあった場合、
自賠責保険金の詐取として法的に罰せられることがありますので、
念のため施術を受けるご本人でもこれらの情報をご確認下さい。


========== 東雲店 ==============
【保険適用】
■一割負担
・1回目　　　　　500円
・2回目　　　　　250円
・3回目　　　　　200円


■二割負担
・1回目　　　　　800円
・2回目　　　　　400円
・3回目　　　　　350円


■三割負担
・1回目　　　　1,500円
・2回目　　　　　600円
・3回目　　　　　500円

【施術延長】
・15分　　　　　1,500円
・30分　　　　　3,000円

【交通事故治療】
自賠責保険適応で、窓口負担金0円（無料）となります。 保険会社への手続きなどもおまかせいただけます。
【重要】自賠責保険の適用に関するご注意
施術者が保険会社に提出した証明書及び費用明細（レセプト）の内容に誤りがあった場合、
自賠責保険金の詐取として法的に罰せられることがありますので、
念のため施術を受けるご本人でもこれらの情報をご確認下さい。

【もみほぐし＋鍼灸】
・15分　　　　　2,700円
・30分　　　　　4,700円
・45分　　　　　5,700円

【はり灸】
・窓口負担分＋700円

【リフレクソロジー(足裏・足つぼ)】
足つぼ 価格 3,000円（税込） 

【もみほぐし＋ダイナトロン】
・15分　　　　　2,500円
・30分　　　　　4,500円
・45分　　　　　5,500円

【もみほぐし（低周波治療10分＋ウォーターベッド10分付き）】
・15分　　　　　2,000円
・30分　　　　　3,500円
・45分　　　　　5,500円
    </div>
  </section>
</div>
