@charset "UTF-8";

#contents-part {
  flex: 1;
  margin-top: 20px;
}

.staff-wrap {
  position: relative;
  padding: 60px 20px 0;

  .profile-card {
    max-width: 100%;
    margin: 0 auto 20px;
    box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.3);
    display: block;

    .left {
      flex: 40%;
      text-align: center;
      padding: 15px;
      border-width: 0;

      .staff-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 15px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .staff-A {background-image: url(/images/contents/staff/cat3.jpg);}

      .name {
        font-size: 18px;
      }
      .sub {
        font-size: 12px;
      }
    }

    .right {
      flex: 60%;
      p {
        padding: 15px;
      }
    }
  }
}
