@charset "UTF-8";

#contents-part {
  flex: 1;
  padding-top: 10px;
}

.staff-wrap {
  position: relative;
  padding: 60px 20px 0;

  .profile-card {
    max-width: 100%;
    margin: 0 15px 20px  10px;
    box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.3);
    display: block;

    .left {
      flex: 40%;
      text-align: center;
      padding: 15px;
      border-width: 0;

      .staff-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 15px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .staff-A {background-image: url(/images/contents/staff/cat3.jpg);}

      .name {
        font-size: 18px;
      }
      .sub {
        font-size: 12px;
      }
    }

    .right {
      flex: 60%;
      p {
        padding: 15px;
      }
    }
  }
}

.treatment-pickup {

  padding-top: 10px;
  ul {
    margin-left: 20px;
    margin-bottom: 20px;

    &.circle {

      li {
        font-weight: bold;
        color: $main-color;
      }
    }
    &.check-list {
      font-size: 18px;

      li {
        font-weight: normal;
      }
    }

    li {
      margin-bottom: 5px;

      span {
        font-weight: bold;
      }
    }
  }
  p {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    line-height: 2;
  }
}

// ============= 東雲店・宇品店 ================
.shop {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  p {margin-top: 50px;text-align: center;font-weight: bold;font-size: 3rem;}

  .caution {display: block;padding-bottom: 20px;font-weight: bold;}
}

.insurance, .treatment-menu {

  small {display: inline-block; padding: 10px 10px 5px; font-weight: bold;border-bottom: dashed 2px #333;}

  .fee-area {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    div {
      font-size: 14px;
      font-weight: bold;
      min-height: 2.5rem;
      line-height: 2.5rem;
      border-bottom: 1px solid #ddd;
      border-left: 1px dashed #ddd;
      border-right: 1px dashed #ddd;
    }

    .ten {
      flex: 1 10%;
      text-align: center;
    }

    .other {
      flex: 1 30%;
      text-align: center;
    }

    .quarter {
      flex: 1 25%;
      text-align: center;
    }

    .half {
      flex: 1 50%;
      text-align: center;
    }

    .memo {flex: 1 100%;text-align: center;font-size: inherit;}

    .no-under {border-bottom: none;}
  }
}

// ================= image ==================
.image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}
.image-small {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 220px;
}
.bigan-image {background-image: url(/images/main/biganshin.JPG);}
.ems-image {background-image: url(/images/main/ems.JPG);}
.footoil-image {background-image: url(/images/main/foot_oil.JPG);}
.kotsuban-image {background-image: url(/images/main/kotsuban.JPG);}
.kotsuban-exp-1-image {background-image: url(/images/main/kotsuban_exp_1.png);}
.biganshin-exp-1-image {background-image: url(/images/main/biganshin_exp_1.png);}
.biganshin-exp-2-image {background-image: url(/images/main/biganshin_exp_2.png);}
.biganshin-exp-3-image {background-image: url(/images/main/biganshin_exp_3.png);}
.nekoze-image {background-image: url(/images/main/nekoze_1.JPG);}
.nekoze-exp-1-image {background-image: url(/images/main/nekoze_exp_1.png);}

.shop-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.shop-image.shinonome {background-image: url(/images/main/shinonome.JPG);}
.shop-image.ujina {background-image: url(/images/main/ujina.JPG);}
