@charset "UTF-8";

#contents-part {
  flex: 1;
  padding-top: 10px;
}

.staff-wrap {
  position: relative;
  padding: 60px 20px 0;

  .profile-card {
    max-width: 100%;
    margin: 0 15px 20px  10px;
    box-shadow: 0 3px 7px -2px rgba(0, 0, 0, 0.3);
    display: block;

    .left {
      flex: 40%;
      text-align: center;
      padding: 15px;
      border-width: 0;

      .staff-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 15px;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .staff-A {background-image: url(/images/contents/staff/cat3.jpg);}

      .name {
        font-size: 18px;
      }
      .sub {
        font-size: 12px;
      }
    }

    .right {
      flex: 60%;
      p {
        padding: 15px;
      }
    }
  }
}

.treatment-pickup {
  ul {
    margin-left: 20px;
    margin-bottom: 20px;

    &.circle {

      li {
        font-weight: bold;
        color: $main-color;
      }
    }
    &.check-list {
      font-size: 18px;

      li {
        font-weight: normal;
      }
    }

    li {
      margin-bottom: 5px;

      span {
        font-weight: bold;
      }
    }
  }
  p {
    padding: 0 0 0 20px;
    margin-bottom: 10px;
    line-height: 2;
  }
}

// ============= 東雲店・宇品店 ================
.shop {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  p {margin-top: 50px;text-align: center;font-weight: bold;font-size: 3rem;}

  .caution {display: block;padding-bottom: 20px;font-weight: bold;}
}

.insurance, .treatment-menu {

  small {display: inline-block; padding: 10px 10px 5px; font-weight: bold;border-bottom: dashed 2px #333;}

  .fee-area {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    div {
      height: 3rem;
      line-height: 3rem;
      border-bottom: 1px solid #ddd;
    }

    .ten {
      flex: 1 10%;
      text-align: center;
    }

    .other {
      flex: 1 30%;
      text-align: center;
    }

    .quarter {
      flex: 1 25%;
      text-align: center;
    }

    .half {
      flex: 1 50%;
      text-align: center;
    }
  }
}
