@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
/* フォントを指定したいところで */
// font-family: 'Sawarabi Mincho';

$main-color: rgb(50, 150, 0);
$main-sub-color: rgb(40, 120, 0);
$sub-color: rgb(125, 150, 0);
$font-color: #333;
$attention-color: rgb(200, 0, 0);

.clearfix::before{
  content: "";
  display: block;
  clear: both;
}
