@charset "UTF-8";

@media screen and (min-width: 600px) {

  #header-slide {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(/images/main/top_image_2.JPG);
  }

  section.tel-number {
    display: flex;
    justify-content: space-around;
    margin: 0;

    a {
      margin: 10px;
    }

    p.mobile {display: none;}
    p.number {line-height: 2;}
    // p.number svg {display: none;}
  }

  .schedule-wrap {
    margin-top: 20px;
  }

  .flow .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flow-box {
      margin: 10px 60px 10px 30px;

      &::after {
        right: -100%;
        left: none;
        top: 35%;
        transform: rotate(270deg);
      }
      &:nth-child(even)::after {
        display: none;
      }
    }
  }

  .twitter {
    padding: 20px 0;

    .twitter-mobile {
      display: none;
    }
    .twitter-pc {
      display: flex;
      padding: 20px 0;
    }
  }

  .recommend-card {
    display: flex;
    height: 200px;
    overflow: hidden;

    .photo {
      flex: 40%;
    }

    .description {
      z-index: 0;
      position: relative;
      flex-grow: 60%;

      &:before {
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;

        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
      }
    }
  }

  #side-bar object {display: none;}

  .staff-wrap .profile-card {
    display: flex;

    .left {border-right: 2px dotted rgba(0, 0, 0, 0.2);}
  }
}

@media screen and (min-width: 899px) {

  #mobile-nav {
    top: -60px;
  }

  #header {
    margin-top: 0;
    border-top: 6px solid $main-color;
  }

  #main {
    display: flex;
  }

  #side-bar object {display: block;}

  #side-bar {
    z-index: 1;
    position: static;
    display: block;
    width: 260px;
    margin: 20px 5px 0;
    padding: 5px;
    height: auto;
  }

  #close-btn {
    display: none;
  }
}
