@charset "UTF-8";

.container {
  padding: 5px 10px 5px 20px;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: .1em;
}

// ===================== headding-a =======================
.headding-a {
  line-height: 2;
  margin: 20px 5px 10px 40px;
  position: relative;
  background: #ffd98a;
  padding: 2px 5px 2px 25px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #333;
  border-radius: 0 10px 10px 0;

  &:before {
    font-family: FontAwesome;
    content: "\f0a4";
    display: inline-block;
    line-height: 48px;
    position: absolute;
    color: white;
    background: #ffa337;
    font-weight: normal;
    font-size: 24px;
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    left: -40px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 3px white;
    border-radius: 50%;
  }
}

// ===================== headding-b =======================
.headding-b {
  display: table;
  font-size: 14px;
  background-color: $attention-color;
  padding: 3px 10px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

// ==================== headding-c ==========================
.numbering {
  counter-increment: number;
}

.headding-c {
  position: relative;
  display: table;
  font-size: 14px;
  padding: 10px 0 0 30px;
  margin: 10px 0 5px 0;
  border-bottom: 2px solid #aaa;

  &::before {
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $attention-color;
    color: #fff;
    text-align: center;
    line-height: 30px;
    display: block;
    content: counter(number);
  }
}
