---
title: フットオイル
---

<section class="footoil treatment-pickup">
  <h2 class="headding-a">フットオイルマッサージ</h2>
  <div class="container">
    <div class="image">
      <img src="" alt="">
    </div>
    <h2 class="headding-e">フットオイルマッサージとは</h2>
    <p>
      アロマの香りと、丁寧な施術で皆様の心と身体を良い状態にします。<br>
    </p>
    <p>
      ほねつぎ一休さんの「オイルマッサージ」はオイルを使用して、血液・リンパの流れを良くして足元を温め肌を健やかに保ちます。<br>
      ※着替えはこちらでもご用意しています。<br>
      ※オイルフットマッサージは予約（当日可）ができます。電話よりご予約状況をお問合せください。
    </p>
    <h2 class="headding-e">こんな方にオススメ！</h2>
    <ul class="circle">
      <li><span class="far fa-circle"></span> 足が冷える方</li>
      <li><span class="far fa-circle"></span> 足がつってしまう方</li>
      <li><span class="far fa-circle"></span> 足のむくみが気になる方</li>
      <li><span class="far fa-circle"></span> 肌がカサカサする方</li>
      <li><span class="far fa-circle"></span> 毎日イライラする方</li>
    </ul>
    <h2 class="headding-e">フットオイルマッサージの効果</h2>
    <ul class="circle">
      <li><span class="far fa-circle"></span> 足の疲れ解消</li>
      <li><span class="far fa-circle"></span> むくみ改善</li>
      <li><span class="far fa-circle"></span> 冷え改善</li>
      <li><span class="far fa-circle"></span> 肌荒れ改善</li>
      <li><span class="far fa-circle"></span> 血行促進で全身ポカポカ</li>
    </ul>
  </div>
</section>
