---
title: ご予約・アクセス
---

<div id="contents-part">
  <h2 class="headding-a">ご予約</h2>
  <section class="tel-number">
    <a href="tel:0822844511">
      <p class="title"><span>東雲店</span> へのお問い合わせ</p>
      <p class="mobile">スマホはタップでお電話 <span class="far fa-hand-point-up fa-lg" data-fa-transform="rotate-30"></span></p>
      <p class="number"><span class="fas fa-phone-square"></span> 082-284-4511</p>
      <p class="time">【受付時間】9:00〜18:30</p>
    </a>

    <a href="tel:0822557119">
      <p class="title"><span>宇品店</span> へのお問い合わせ</p>
      <p class="mobile">スマホはタップでお電話 <span class="far fa-hand-point-up fa-lg" data-fa-transform="rotate-30"></span></p>
      <p class="number"><span class="fas fa-phone-square"></span> 082-255-7119</p>
      <p class="time">【受付時間】9:00〜18:30 (日祝を除く)</p>
    </a>
  </section>

  <section class="schedule-wrap">
    <h2 class="headding-a">診療時間</h2>
    <div class="schedule">
      <span class="label">東雲店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
          <tr>
            <td>15:00~18:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
        </tbody>
      </table>
      <span>※ 火曜日の診療時間は20:30が最終受付となります。</span><br>
      <span>※ 日曜日の診療時間は9:30~16:30となります。</span>
    </div>

    <div class="schedule">
      <span class="label">宇品店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
          <tr>
            <td>15:00~18:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="access">
    <div class="access-wrap">
      <h2 class="headding-a">アクセス</h2>
      <div class="container">
        <div class="map">
          <div class="describe shinonome">
            〒734-0023<br>
            広島県広島市南区東雲本町2丁目10-30<br><br>
            一休さん東雲店への来院はバスが便利です。 <br>
            広電バス4号線「東雲１丁目」下車徒歩5分<br>
            駐車場3台完備
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6585.51527492887!2d132.487043!3d34.382084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7c88e464918db68!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5p2x6Zuy5bqX!5e0!3m2!1sja!2sjp!4v1516430862681" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="map">
          <div class="describe ujina">
            〒734-0004<br>
            広島県広島市南区宇品神田1丁目8-11 ハイポート宇品 1F<br><br>
            宇品二丁目駅すぐ！駐車場3台完備
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6586.701287644185!2d132.46301!3d34.367001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7cc897440b2782f!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5a6H5ZOB5bqX!5e0!3m2!1sja!2sjp!4v1516431233552" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>
