---
title: スタッフ
---

<div id="contents-part">
  <h2 class="headding-a">スタッフ紹介</h2>
  <h3 class="headding-d">東雲店スタッフ</h3>
  <div class="container staff-wrap shinonome">
    <div class="profile-card">
      <div class="left">
        <div class="staff-img staff-A"></div>
        <p class="name">John Doe</p>
        <p class="sub">Better Visuals</p>
      </div>
      <div class="right">
        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>
      </div>
    </div>

    <div class="profile-card">
      <div class="left">
        <div class="staff-img staff-A"></div>
        <p class="name">John Doe</p>
        <p class="sub">Better Visuals</p>
      </div>
      <div class="right">
        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>
      </div>
    </div>

    <div class="profile-card">
      <div class="left">
        <div class="staff-img staff-A"></div>
        <p class="name">John Doe</p>
        <p class="sub">Better Visuals</p>
      </div>
      <div class="right">
        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>
      </div>
    </div>
  </div>
  <h3 class="headding-d">宇品店スタッフ</h3>
  <div class="container staff-wrap ujina">
    <div class="profile-card">
      <div class="left">
        <div class="staff-img staff-A"></div>
        <p class="name">John Doe</p>
        <p class="sub">Better Visuals</p>
      </div>
      <div class="right">
        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>
      </div>
    </div>

    <div class="profile-card">
      <div class="left">
        <div class="staff-img staff-A"></div>
        <p class="name">John Doe</p>
        <p class="sub">Better Visuals</p>
      </div>
      <div class="right">
        <p>
          It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
        </p>
      </div>
    </div>

  </div>
</div>
