---
title: 施術メニュー
---

<div id="contents-part">
  <h2 class="headding-a">施術メニュー・料金</h2>
  <section class="shop">
    <h3 class="headding-g">東雲店</h3>
    <div class="head-image shinonome"></div>
    <div class="insurance">
      <h2 class="heading-h">保険診療</h2>
      <small><span>電気治療 約10分 </span><span>+ 施術 約10分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">2,000円〜</div><div class="other">1,000円〜</div><div class="other">500円〜</div>
        <div class="ten">2割</div><div class="other">1,500円〜</div><div class="other">700円〜</div><div class="other">350円〜</div>
        <div class="ten">1割</div><div class="other">1,000円〜</div><div class="other">500円〜</div><div class="other">200円〜</div>
      </div>

    </div>
    <div class="treatment-menu">
      <h2 class="heading-h">保険 + 保険外診療</h2>
      <div class="fee-area">
        <div class="half no-under"></div><div class="quarter">10分</div><div class="quarter">1,000円</div>
        <div class="half no-under">施術時間延長</div><div class="quarter">15分</div><div class="quarter">1,500円</div>
        <div class="half"></div><div class="quarter">30分</div><div class="quarter">3,000円</div>
        <div class="half">鍼</div><div class="quarter">1部位</div><div class="quarter">1,000円</div>
        <div class="half">灸</div><div class="quarter">20分</div><div class="quarter">2,000円</div>
        <div class="half">猫背矯正</div><div class="quarter">1回</div><div class="quarter">2,000円</div>
        <div class="half">美顔鍼(要予約)</div><div class="quarter">30分</div><div class="quarter">4,000円</div>
        <div class="half"><span>フットオイル</span><span><span>マッサージ</span><span>(要予約)</span></span></div><div class="quarter">30分</div><div class="quarter">4,000円</div>
        <div class="half">超音波 各種</div><div class="quarter">1部位</div><div class="quarter">1,000円</div>
        <div class="half">ウォーターベッド</div><div class="quarter">15分</div><div class="quarter">500円</div>
        <div class="half">テーピング</div><div class="quarter">1部位</div><div class="quarter">500円</div>
        <div class="half">EMS(筋トレ)</div><div class="quarter"><span>1部位</span><span>1回</span><span>20分</span></div><div class="quarter">2,000円</div>
        <div class="half"><span>EMS フリーパス</span><span>(※ 1日1回限り)</span></div><div class="quarter">30日間</div><div class="quarter">15,000円</div>
        <!-- <div class="half">※ お得な回数券もあります</div><div class="quarter"></div><div class="quarter"></div> -->
        <div class="memo no-under">※ 回数券あります</div>
      </div>
    </div>

    <h3 class="headding-g">宇品店</h3>
    <div class="head-image shinonome"></div>
    <div class="insurance">
      <h2 class="heading-h">保険診療</h2>
      <small><span>電気治療 約10分 </span><span>+ 施術 約10分 </span><span>+ 超音波 約3分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">2,500円前後</div><div class="other">2,000円前後</div><div class="other">1,500円前後</div>
        <div class="ten">2割</div><div class="other">2,000円前後</div><div class="other">1,500円前後</div><div class="other">1,200円前後</div>
        <div class="ten">1割</div><div class="other">1,500円前後</div><div class="other">1,200円前後</div><div class="other">850円前後</div>
      </div>

      <small><span>電気治療 約10分 </span><span>+施術 約10分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">1,500円前後</div><div class="other">1,000円前後</div><div class="other">500円前後</div>
        <div class="ten">2割</div><div class="other">1,000円前後</div><div class="other">700円前後</div><div class="other">350円前後</div>
        <div class="ten">1割</div><div class="other">700円前後</div><div class="other">500円前後</div><div class="other">200円前後</div>
      </div>

    </div>
    <div class="treatment-menu">
      <h2 class="heading-h">保険 + 保険外診療</h2>
      <div class="fee-area">
        <div class="half no-under"></div><div class="quarter">10分</div><div class="quarter">1,000円</div>
        <div class="half no-under">施術時間延長</div><div class="quarter">15分</div><div class="quarter">1,500円</div>
        <div class="half"></div><div class="quarter">30分</div><div class="quarter">3,000円</div>
        <div class="half no-under">ハリ</div><div class="quarter no-under">1部位</div><div class="quarter no-under">1,000円</div>
        <div class="half"><span>(電気鍼パルス </span><span>+500円)</span></div><div class="quarter"></div><div class="quarter"></div>
        <div class="half">美顔鍼(要予約)</div><div class="quarter">30分</div><div class="quarter">3,500円</div>
        <div class="half"><span>フットオイル</span><span>マッサージ</span><span>(要予約)</span></div><div class="quarter">30分</div><div class="quarter">3,500円</div>
        <div class="half">猫背矯正</div><div class="quarter">10分</div><div class="quarter">2,000円</div>
        <div class="half">骨盤矯正</div><div class="quarter">5分</div><div class="quarter">1,000円</div>
        <div class="half">ウォーターベッド</div><div class="quarter">15分</div><div class="quarter">500円</div>
        <div class="half">ダイナトロン</div><div class="quarter">3分</div><div class="quarter">500円</div>
        <div class="half"><span>傷害保険等書類</span><span>作成代</span></div><div class="quarter">1部</div><div class="quarter">5,000円</div>
      </div>

      <h3 class="heading-h">お得な回数券 (宇品店)</h3>
      <small><span>超音波・ウォーターベッド共通</span><span> (有効期限：購入日から6ヵ月)</span></small>
      <div class="fee-area">
        <div class="quarter">5回</div><div class="quarter">2,000円</div><div class="half">(1回サービス付き)</div>
        <div class="quarter">8回</div><div class="quarter">3,000円</div><div class="half">(2回サービス付き)</div>
        <div class="quarter">14回</div><div class="quarter">5,000円</div><div class="half">(3回サービス付き)</div>
      </div>

      <small>猫背矯正(ストレッチポール使用)</small>
      <div class="fee-area">
        <div class="half">5回コース</div><div class="half">8,500円</div>
        <div class="half">10回コース</div><div class="half">16,000円</div>
      </div>

      <small>EMS筋トレ</small>
      <div class="fee-area">
        <div class="quarter no-under">部分筋トレ</div><div class="half">6回コース</div><div class="quarter">6,000円</div>
        <div class="quarter"></div><div class="half">1ヵ月フリーパス</div><div class="quarter">10,000円</div>
        <div class="quarter no-under">集中筋トレ</div><div class="half">6回コース</div><div class="quarter">12,000円</div>
        <div class="quarter"></div><div class="half">1ヵ月フリーパス</div><div class="quarter">20,000円</div>
      </div>

      <small>美顔鍼・フットマッサージ共通</small>
      <div class="fee-area">
        <div class="half">6回コース</div><div class="half">18,000円</div>
        <div class="half">12回コース</div><div class="half">35,000円</div>
      </div>
    </div>

    <small>注意：回数券の再発行・払い戻しはできませんので、ご了承ください。</small>

  </section>
</div>
