<footer id="footer">
  <div class="footer-wrap">
    <div class="info">
      <p>
        【東雲店】<br>
        〒734-0023<br>
        広島県広島市南区東雲本町2丁目10-30<br>
        <a href="tel:0822844511">Tel： 082-284-4511</a><br>
        <a href="mailto:shinonome@193net.com">Mail： shinonome@193net.com</a>
      </p>
    </div>
    <div class="info">
      <p>
        【宇品店】<br>
        〒734-0004<br>
        広島県広島市南区宇品神田1丁目8-11 ハイポート宇品 1F<br>
        <a href="tel:082-255-7119">Tel： 082-255-7119</a><br>
        <a href="mailto:ujina@193net.com">Mail： ujina@193net.com</a>
      </p>
    </div>
  </div>
  <p class="copyright">Copyright <span class="fa fa-copyright fa-fw" aria-hidden="true"></span> 2018 ほねつぎ一休さん All Rights Reserved.</p>
</footer>
