<ul id="mobile-nav">
  <li><a href="#"><span class="fa fa-home fa-fw fa-size" aria-hidden="true"></span> ホーム</a></li>
  <li><a href="#"><span class="fa fa-map-marker fa-fw fa-size" aria-hidden="true"></span> アクセス</a></li>
  <li><a href="#"><span class="fa fa-envelope fa-fw fa-size" aria-hidden="true"></span> 予約</a></li>
  <li id="drw-btn"><span class="fa fa-bars fa-fw fa-size" aria-hidden="true"></span> メニュー</li>
</ul>

<header id="header">
  <a href="#">
    <div id="brand">
      ほねつぎ一休さん
    </div>
  </a>
  <p>メッセージ</p>
</header>

<div id="header-slide">

</div>

<div id="drw-layer"></div>
