<ul id="mobile-nav">
  <li><% link_to "#{config[:root]}/" do %><span class="fas fa-home"></span> ホーム<% end %></li>
  <li><% link_to "#{config[:root]}/access/" do %><span class="fas fa-map-marker"></span> アクセス<% end %></li>
  <li><% link_to "#{config[:root]}/access/" do %><span class="fas fa-envelope"></span> 予約<% end %></li>
  <li id="drw-btn"><span class="fas fa-bars"></span> メニュー</li>
</ul>

<header id="header">
  <% link_to "#{config[:root]}/" do %>
    <div id="brand">
      <p>ほねつぎ一休さん</p>
    </div>
  <% end %>
  <p><span>広島市南区東雲・宇品の接骨院ほねつぎ一休さん</span><span>【接骨院・整体・マッサージ・鍼灸・交通事故対応・各種保険適用】</span></p>
</header>

<div id="header-slide"></div>

<div id="drw-layer"></div>
