<ul id="mobile-nav">
  <li><% link_to "#{config[:root]}/" do %><span class="fa fa-home fa-fw fa-size" aria-hidden="true"></span> ホーム<% end %></li>
  <li><% link_to "#{config[:root]}/" do %><span class="fa fa-map-marker fa-fw fa-size" aria-hidden="true"></span> アクセス<% end %></li>
  <li><% link_to "#{config[:root]}/" do %><span class="fa fa-envelope fa-fw fa-size" aria-hidden="true"></span> 予約<% end %></li>
  <li id="drw-btn"><span class="fa fa-bars fa-fw fa-size" aria-hidden="true"></span> メニュー</li>
</ul>

<header id="header">
  <% link_to "#{config[:root]}/" do %>
    <div id="brand">
      ほねつぎ一休さん
    </div>
  <% end %>
  <p>メッセージ</p>
</header>

<div id="header-slide">

</div>

<div id="drw-layer"></div>
