<section class="shop">
  
  <h3 class="headding-g">【東雲店】施術メニュー・料金</h3>
  <div class="head-image shinonome"></div>
  <div class="insurance">
    <h2 class="heading-h">保険診療</h2>
    <small><span>電気治療 約10分 </span><span>+ 施術 約10分</span></small>
    <div class="fee-area">
      <div class="ten"></div><div class="one-third">初回</div><div class="one-third">2回目以降</div>
      <div class="ten">3割</div><div class="one-third">2,000円〜</div><div class="one-third">500円〜</div>
      <div class="ten">2割</div><div class="one-third">1,500円〜</div><div class="one-third">350円〜</div>
      <div class="ten">1割</div><div class="one-third">1,000円〜</div><div class="one-third">200円〜</div>
    </div>

  </div>
  <div class="treatment-menu">
    <h2 class="heading-h">保険 + 保険外診療</h2>
    <div class="fee-area">
      <div class="half no-under"></div><div class="quarter">10分</div><div class="quarter">1,000円</div>
      <div class="half no-under">施術時間延長</div><div class="quarter">15分</div><div class="quarter">1,500円</div>
      <div class="half"></div><div class="quarter">30分</div><div class="quarter">3,000円</div>
      <div class="half">鍼</div><div class="quarter">1部位</div><div class="quarter">1,000円</div>
      <div class="half">灸</div><div class="quarter">20分</div><div class="quarter">2,000円</div>
      <div class="half">猫背矯正</div><div class="quarter">1回</div><div class="quarter">2,000円</div>
      <div class="half">美顔鍼(要予約)</div><div class="quarter">30分</div><div class="quarter">4,000円</div>
      <div class="half"><span>フットオイル</span><span><span>マッサージ</span><span>(要予約)</span></span></div><div class="quarter">30分</div><div class="quarter">4,000円</div>
      <div class="half">超音波 各種</div><div class="quarter">1部位</div><div class="quarter">500円</div>
      <div class="half">ウォーターベッド</div><div class="quarter">15分</div><div class="quarter">500円</div>
      <div class="half">テーピング</div><div class="quarter">1部位</div><div class="quarter">500円</div>
      <div class="half">EMS(筋トレ)</div><div class="quarter"><span>1部位</span><span>1回</span><span>20分</span></div><div class="quarter">2,000円</div>
      <div class="half"><span>EMS フリーパス</span><span>(※ 1日1回限り)</span></div><div class="quarter">30日間</div><div class="quarter">15,000円</div>
      <div class="half"><span>筋トレ・ボクササイズ</span><span>(初心者向け)</span></div><div class="quarter">各1回30分</div><div class="quarter">3,000円</div>
      <!-- <div class="half">※ お得な回数券もあります</div><div class="quarter"></div><div class="quarter"></div> -->
      <div class="memo no-under">※ 回数券あります</div>
    </div>
  </div>
</section>