<div id="side-bar">
  <div id="close-btn"><span class="far fa-times-circle"></span> 閉じる</div>
  <object type="image/svg+xml" data="/images/top-page/IkkyusanLogo.svg" width="80" height="80"></object>
  <div class="menu-box">
    <div class="menu-headding">メインメニュー</div>
    <ul>
      <li><% link_to "#{config[:root]}/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> ホーム<% end %></li>
      <li><% link_to "#{config[:root]}/contents/shinonome/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 東雲店<% end %></li>
      <li><% link_to "#{config[:root]}/contents/ujina/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 宇品店<% end %></li>
      <!-- <li><% link_to "#{config[:root]}/contents/accident/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 交通事故対応<% end %></li> -->
      <!-- <li><% link_to "#{config[:root]}/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 東雲店詳細ページ<% end %></li> -->
      <!-- <li><% link_to "#{config[:root]}/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 宇品店詳細ページ<% end %></li> -->
      <li><% link_to "#{config[:root]}/contents/treatment/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 施術メニュー・料金<% end %></li>
      <li><% link_to "#{config[:root]}/contents/access/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> ご予約・アクセス<% end %></li>
      <!-- <li><% link_to "#{config[:root]}/contents/staff/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> スタッフ紹介<% end %></li> -->
      <!-- <li><% link_to "#{config[:root]}/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 採用情報<% end %></li> -->
    </ul>
  </div>

  <%# TODO: 症状と施術の内容が提出されたらページとともに実装 %>
  <div class="menu-box">
    <div class="menu-headding">ピックアップ施術メニュー</div>
    <ul>
      <li><% link_to "#{config[:root]}/contents/treatment/ems/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> EMS(楽トレ)<% end %></li>
      <li><% link_to "#{config[:root]}/contents/treatment/footoil/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> フットオイル<% end %></li>
      <li><% link_to "#{config[:root]}/contents/treatment/kotsuban/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 骨盤矯正<% end %></li>
      <li><% link_to "#{config[:root]}/contents/treatment/nekoze/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 猫背矯正<% end %></li>
      <li><% link_to "#{config[:root]}/contents/treatment/bigan/" do %><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> 美顔鍼<% end %></li>
    </ul>
  </div>

  <%# TODO: エキテンを載せるか議論してから実装 %>
  <!-- <div class="menu-box">
    <div class="menu-headding">エキテン</div>

  </div> -->

  <div class="menu-box">
    <div class="menu-headding">一休さん SNS 情報</div>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/193hiroshima?ref_src=twsrc%5Etfw">Tweets by 193hiroshima</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/193ujina?ref_src=twsrc%5Etfw">Tweets by 193ujina</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/kinsei0015?ref_src=twsrc%5Etfw">Tweets by kinsei0015</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </div>
</div>
