<div id="side-bar">
  <div id="close-btn"><span class="fa fa-times-circle-o" aria-hidden="true"></span> 閉じる</div>
  <div class="menu-box">
    <div class="menu-headding">メニュー</div>
    <ul>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> ホーム</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> アクセス</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> ご予約</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> スタッフ紹介</a></li>
    </ul>
  </div>

  <div class="menu-box">
    <div class="menu-headding">施術メニュー・料金</div>
    <ul>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー１</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー２</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー３</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー４</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー５</a></li>
      <li><a href="#"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> メニュー６</a></li>
    </ul>
  </div>

  <div class="menu-box">
    <div class="menu-headding">エキテン</div>

  </div>

  <div class="menu-box">
    <div class="menu-headding">一休さん SNS 情報</div>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/193hiroshima?ref_src=twsrc%5Etfw">Tweets by 193hiroshima</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/193ujina?ref_src=twsrc%5Etfw">Tweets by 193ujina</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <p class="sns-widget">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="300" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/kinsei0015?ref_src=twsrc%5Etfw">Tweets by kinsei0015</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
  </div>
</div>
