---
title: 東雲店
---
<div id="contents-part">
  <h2 class="headding-a">東雲店</h2>
  <section class="shop">
    <div class="shop-image shinonome"></div>
    <h3 class="headding-g">施術メニュー・料金</h3>
    <div class="head-image shinonome"></div>
    <div class="insurance">
      <h2 class="heading-h">保険診療</h2>
      <small><span>電気治療 約10分 </span><span>+ 施術 約10分</span></small>
      <div class="fee-area">
        <div class="ten"></div><div class="other">初回</div><div class="other">2回目</div><div class="other">3回目以降</div>
        <div class="ten">3割</div><div class="other">2,000円〜</div><div class="other">1,000円〜</div><div class="other">500円〜</div>
        <div class="ten">2割</div><div class="other">1,500円〜</div><div class="other">700円〜</div><div class="other">350円〜</div>
        <div class="ten">1割</div><div class="other">1,000円〜</div><div class="other">500円〜</div><div class="other">200円〜</div>
      </div>

    </div>
    <div class="treatment-menu">
      <h2 class="heading-h">保険 + 保険外診療</h2>
      <div class="fee-area">
        <div class="half no-under"></div><div class="quarter">10分</div><div class="quarter">1,000円</div>
        <div class="half no-under">施術時間延長</div><div class="quarter">15分</div><div class="quarter">1,500円</div>
        <div class="half"></div><div class="quarter">30分</div><div class="quarter">3,000円</div>
        <div class="half">鍼</div><div class="quarter">1部位</div><div class="quarter">1,000円</div>
        <div class="half">灸</div><div class="quarter">20分</div><div class="quarter">2,000円</div>
        <div class="half">猫背矯正</div><div class="quarter">1回</div><div class="quarter">2,000円</div>
        <div class="half">美顔鍼(要予約)</div><div class="quarter">30分</div><div class="quarter">4,000円</div>
        <div class="half"><span>フットオイル</span><span><span>マッサージ</span><span>(要予約)</span></span></div><div class="quarter">30分</div><div class="quarter">4,000円</div>
        <div class="half">超音波 各種</div><div class="quarter">1部位</div><div class="quarter">1,000円</div>
        <div class="half">ウォーターベッド</div><div class="quarter">15分</div><div class="quarter">500円</div>
        <div class="half">テーピング</div><div class="quarter">1部位</div><div class="quarter">500円</div>
        <div class="half">EMS(筋トレ)</div><div class="quarter"><span>1部位</span><span>1回</span><span>20分</span></div><div class="quarter">2,000円</div>
        <div class="half"><span>EMS フリーパス</span><span>(※ 1日1回限り)</span></div><div class="quarter">30日間</div><div class="quarter">15,000円</div>
        <!-- <div class="half">※ お得な回数券もあります</div><div class="quarter"></div><div class="quarter"></div> -->
        <div class="memo no-under">※ 回数券あります</div>
      </div>
    </div>
  </section>

  <h2 class="headding-g">ご予約</h2>
  <section class="tel-number">
    <a href="tel:0822844511">
      <p class="title"><span>東雲店</span> へのお問い合わせ</p>
      <p class="mobile">スマホはタップでお電話 <span class="far fa-hand-point-up fa-lg" data-fa-transform="rotate-30"></span></p>
      <p class="number"><span class="fas fa-phone-square"></span> 082-284-4511</p>
      <p class="time">【受付時間】9:00〜18:30</p>
    </a>

  </section>

  <section class="schedule-wrap">
    <h2 class="headding-g">診療時間</h2>
    <div class="schedule">
      <span class="label">東雲店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:30</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td class="red">※</td>
          </tr>
          <tr>
            <td>15:00~18:30</td><td>◯</td><td>※</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td class="red">※</td>
          </tr>
        </tbody>
      </table>
      <span>※ 火曜日の診療時間は20:30が最終受付となります。</span><br>
      <span class="red">※</span><span>日曜日・祝日は完全予約制(前日まで)</span>
    </div>

  </section>

  <section class="access">
    <div class="access-wrap">
      <h2 class="headding-g">アクセス</h2>
      <div class="container">
        <div class="map">
          <div class="describe shinonome">
            〒734-0023<br>
            広島県広島市南区東雲本町2丁目10-30<br><br>
            一休さん東雲店への来院はバスが便利です。 <br>
            広電バス4号線「東雲１丁目」下車徒歩5分<br>
            駐車場3台完備
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6585.51527492887!2d132.487043!3d34.382084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc7c88e464918db68!2z44G744Gt44Gk44GO5LiA5LyR44GV44KT5p2x6Zuy5bqX!5e0!3m2!1sja!2sjp!4v1516430862681" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </section>
</div>
