<div id="top-page">
  <section class="reserved-wrap">
    <a href="telto:09012345678">
      <div class="reserved faa-parent animated-hover">
        <div class="fa fa-mobile fa-fw faa-ring fa-reserved" aria-hidden="true"></div>
        <p>【東雲店】に電話予約する</p>
        <span>090-1234-5678</span>
      </div>
    </a>

    <a href="telto:09011112222">
      <div class="reserved faa-parent animated-hover">
        <div class="fa fa-mobile fa-fw faa-ring fa-reserved" aria-hidden="true"></div>
        <p>【宇品店】に電話予約する</p>
        <span>090-1111-2222</span>
      </div>
    </a>
  </section>

  <section class="schedule-wrap">
    <div class="schedule">
      <span class="label">東雲店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
          <tr>
            <td>15:00~18:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
        </tbody>
      </table>
      <span>※ 火曜日の診療時間は20:30が最終受付となります。</span><br>
      <span>※ 日曜日の診療時間は9:30~16:30となります。</span>
    </div>

    <div class="schedule">
      <span class="label">宇品店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
          <tr>
            <td>15:00~18:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="accident-wrap">
    <div class="accident">
      <h2 class="headding-a">交通事故対応</h2>
      <div class="container explain">
        <h3 class="headding-b">交通事故後の治療やトラブルでお困りですか？</h3>
        <p>当院は、交通事故治療にも対応しています。 <br>
          交通事故の症状は、外傷がなくても後から発症してくる場合がございますので、お早めのご来院をおすすめしております。 <br>
          整形外科や病院に通院しながら、当院へ通院することも可能ですのでご安心ください。 <br>
          また、交通事故治療は「自賠責保険」が適応されますので、患者様自身の負担はなく『0円』で施術を受けていただけます。
        </p>
        <h3 class="headding-b">提携病院のご紹介</h3>
        <p>
          当院が提携している病院をご紹介させていだたくことができ、スムーズな治療が可能です。
        </p>
        <h3 class="headding-b">保険会社との複雑な交渉もサポート</h3>
        <p>
          事故後のトラブルに関しても、当院の顧問弁護士に無料で相談いただけますので、安心して治療に専念していただけます。
        </p>
      </div>
    </div>
  </section>

  <section class="points">
    <div class="points-wrap">
      <h2 class="headding-a">一休さん 3つのポイント</h2>
      <div class="container">
        <h3 class="headding-c numbering">患者様のお気持ちを第一に考えます</h3>
        <p>
          当院は、地域の皆様の心のよりどころになれるよう、患者様一人一人にじっくり向き合い丁寧な説明と施術で対応させていただきます。患者様に納得していただいた上で施術を進めてまいりますので施術に対して、不安な点や疑問点などございましたら遠慮なくお伝えください。
        </p>
        <h3 class="headding-c numbering">交通事故治療にも対応しております</h3>
        <p>
          当院は、交通事故治療にも対応しています。交通事故の症状は、外傷がなくても後から発症してくる場合がございますのでお早めのご来院をおすすめしております。整形外科や病院に通院しながら、当院へ通院することも可能ですのでご安心ください。また、交通事故治療は「自賠責保険」が適応されますので患者様自身の負担はなく、【0円】で施術を受けていただけます。保険会社との複雑な交渉もサポートいたしますので安心して施術に専念していただけます。
        </p>
        <h3 class="headding-c numbering">スポーツ選手も多数ご利用いただいております</h3>
        <p>
          当店には地元のスポーツ選手も多数お越しいただき、スポーツ後のケアやパフォーマンス向上のサポート、ケガの早期回復を目指した施術のご提供をしております。豊富な実績と確かな技術で皆さまから信頼される、地域密着の接骨院として多くの方にご支持をいただいております。
        </p>
      </div>
    </div>
  </section>

  <section class="trouble">
    <div class="trouble-wrap">
      <h2 class="headding-a">こんなお悩みありませんか?</h2>

    </div>
  </section>

  <section class="flow">
    <div class="flow-wrap">
      <h2 class="headding-a">施術の流れ</h2>
      <div class="container">
        <div class="flow-box">
          <h3 class="headding-c numbering">受付</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
        <div class="fa fa-caret-down flow-arrow" aria-hidden="true"></div>
        <div class="flow-box">
          <h3 class="headding-c numbering">カウンセリング</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
        <div class="fa fa-caret-down flow-arrow" aria-hidden="true"></div>
        <div class="flow-box">
          <h3 class="headding-c numbering">検査</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
        <div class="fa fa-caret-down flow-arrow" aria-hidden="true"></div>
        <div class="flow-box">
          <h3 class="headding-c numbering">施術</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
        <div class="fa fa-caret-down flow-arrow" aria-hidden="true"></div>
        <div class="flow-box">
          <h3 class="headding-c numbering">施術方針の説明</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
        <div class="fa fa-caret-down flow-arrow" aria-hidden="true"></div>
        <div class="flow-box">
          <h3 class="headding-c numbering">お大事に！</h3>
          <div class="flow-img"></div>
          <p>
            はじめに問診表をお渡しいたしますので、ご記入の上受付にお渡し下さい。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="introduction">
    <div class="intro-wrap">
      <h2 class="headding-a">院長からご挨拶</h2>
      <div class="container intro">
        <div id="intro-img-slide">

        </div>
      </div>
    </div>
  </section>
</div>
