<div id="top-page">
  <section class="reserved-wrap">
    <a href="telto:09012345678">
      <div class="reserved faa-parent animated-hover">
        <div class="fa fa-mobile fa-fw faa-ring fa-reserved" aria-hidden="true"></div>
        <p>【東雲店】に電話予約する</p>
        <span>090-1234-5678</span>
      </div>
    </a>

    <a href="telto:09011112222">
      <div class="reserved faa-parent animated-hover">
        <div class="fa fa-mobile fa-fw faa-ring fa-reserved" aria-hidden="true"></div>
        <p>【宇品店】に電話予約する</p>
        <span>090-1111-2222</span>
      </div>
    </a>
  </section>

  <section class="schedule-wrap">
    <div class="schedule">
      <span class="label">東雲店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
          <tr>
            <td>15:00~18:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td>
          </tr>
        </tbody>
      </table>
      <span>※ 火曜日の診療時間は20:30が最終受付となります。</span><br>
      <span>※ 日曜日の診療時間は9:30~16:30となります。</span>
    </div>

    <div class="schedule">
      <span class="label">宇品店</span>
      <table>
        <thead>
          <tr>
            <th>診療時間</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日祝</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9:00~12:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
          <tr>
            <td>15:00~18:00</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>◯</td><td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="accident-wrap">
    <div class="accident">
      交通事故対応
    </div>
  </section>
</div>
